/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jul-2021, 7:52:43 pm
    Author     : shatakshi
*/

.eyeIcon{
    color: darkgrey;
    margin-left: -30px; 
    cursor: pointer
}

@media (max-width: 776.98px) { 
    .card{
        width: 100% !important;
    }  
    #dataTables{
        display: block !important;
    }
}


@media (min-width: 777px) and (max-width : 1399px) { 
.card{
        width: 60% !important;
    }
    #dataTables{
        display: table !important;
    }
}